.red1 {
  background-color: #BE3D40;
}

.red2 {
  background-color: #F05655;
}

.red3 {
  background-color: #FF876F;
}

.red4 {
  background-color: #FF946A;
}

.red5 {
  background-color: #FFB3A3;
}

.red6 {
  background-color: #F4C4B8;
}

.red7 {
  background-color: #B13441;
}

.red8 {
  background-color: #D4364B;
}

.red9 {
  background-color: #FD6C69;
}

.red10 {
  background-color: #FF8E8D;
}

.red11 {
  background-color: #F8BAB5;
}

.red12 {
  background-color: #F9D1CF;
}

.red13 {
  background-color: #763049;
}

.red14 {
  background-color: #763855;
}

.red15 {
  background-color: #AE598F;
}

.red16 {
  background-color: #DD90AF;
}

.red17 {
  background-color: #DCA1B5;
}

.red18 {
  background-color: #E0C6CF;
}

.red-earth1 {
  background-color: #DDD2D0;
}

.red-earth2 {
  background-color: #D3BBB9;
}

.red-earth3 {
  background-color: #CFB4AE;
}

.red-earth4 {
  background-color: #CFA2A0;
}

.red-earth5 {
  background-color: #B06C69;
}

.red-earth6 {
  background-color: #623838;
}

.red-earth7 {
  background-color: #E2C9BD;
}

.red-earth8 {
  background-color: #E0B6AA;
}

.red-earth9 {
  background-color: #CD7860;
}

.red-earth10 {
  background-color: #C17166;
}

.red-earth11 {
  background-color: #9E4032;
}

.red-earth12 {
  background-color: #7E4547;
}

.red-earth13 {
  background-color: #E9E3DD;
}

.red-earth14 {
  background-color: #D5AB99;
}

.red-earth15 {
  background-color: #C59287;
}

.red-earth16 {
  background-color: #C3796A;
}

.red-earth17 {
  background-color: #8C4636;
}

.red-earth18 {
  background-color: #72362E;
}

.be1 {
  background-color: #E4E4DC;
}

.be2 {
  background-color: #D3D3C9;
}

.be3 {
  background-color: #CCC0B1;
}

.be4 {
  background-color: #C6A98A;
}

.be5 {
  background-color: #77645B;
}

.be6 {
  background-color: #4D363A;
}

.be7 {
  background-color: #E9E1D4;
}

.be8 {
  background-color: #EACEB9;
}

.be9 {
  background-color: #F0C1A2;
}

.be10 {
  background-color: #E8B399;
}

.be11 {
  background-color: #D28868;
}

.be12 {
  background-color: #9E4E2D;
}

.be13 {
  background-color: #ECE7DE;
}

.be14 {
  background-color: #E2D2BF;
}

.be15 {
  background-color: #DBBCAA;
}

.be16 {
  background-color: #D09783;
}

.be17 {
  background-color: #A8715E;
}

.be18 {
  background-color: #784F42;
}

.be19 {
  background-color: #E0DFDB;
}

.be20 {
  background-color: #E2DBD7;
}

.be21 {
  background-color: #D7BDB8;
}

.be22 {
  background-color: #B89CA3;
}

.be23 {
  background-color: #B3848C;
}

.be24 {
  background-color: #744E5D;
}

.be25 {
  background-color: #F0E0CA;
}

.be26 {
  background-color: #EAD6B7;
}

.be27 {
  background-color: #DEC3A7;
}

.be28 {
  background-color: #C09276;
}

.be29 {
  background-color: #AF8A6B;
}

.be30 {
  background-color: #A56050;
}

.be31 {
  background-color: #EDE8E0;
}

.be32 {
  background-color: #E5DBC2;
}

.be33 {
  background-color: #C1B196;
}

.be34 {
  background-color: #A5A785;
}

.be35 {
  background-color: #8B816E;
}

.be36 {
  background-color: #574F41;
}

.ne1 {
  background-color: #582E1D;
}

.ne2 {
  background-color: #4A3127;
}

.ne3 {
  background-color: #7F5641;
}

.ne4 {
  background-color: #B8885F;
}

.ne5 {
  background-color: #BE8A55;
}

.ne6 {
  background-color: #B98663;
}

.ne7 {
  background-color: #2D1F1C;
}

.ne8 {
  background-color: #5A4434;
}

.ne9 {
  background-color: #7C6559;
}

.ne10 {
  background-color: #836857;
}

.ne11 {
  background-color: #936659;
}

.ne12 {
  background-color: #9D7767;
}

.ne13 {
  background-color: #C39265;
}

.ne14 {
  background-color: #B89171;
}

.ne15 {
  background-color: #BAA39A;
}

.ne16 {
  background-color: #B2A19F;
}

.ne17 {
  background-color: #B7ACAB;
}

.ne18 {
  background-color: #CABBB7;
}

.orange1 {
  background-color: #f85700;
}

.orange2 {
  background-color: #f88800;
}

.orange3 {
  background-color: #ffa31b;
}

.orange4 {
  background-color: #ffab00;
}

.orange5 {
  background-color: #eec478;
}

.orange6 {
  background-color: #f1c48b;
}

.yellow1 {
  background-color: #D08403;
}

.yellow2 {
  background-color: #EBB62E;
}

.yellow3 {
  background-color: #c8a617;
}

.yellow4 {
  background-color: #F1E6AB;
}

.yellow5 {
  background-color: #EDE6BF;
}

.yellow6 {
  background-color: #ECEFDE;
}

.yellow7 {
  background-color: #FFA932;
}

.yellow8 {
  background-color: #FFBA38;
}

.yellow9 {
  background-color: #FFD200;
}

.yellow10 {
  background-color: #FDE58E;
}

.yellow11 {
  background-color: #F3EAB4;
}

.yellow12 {
  background-color: #EDEDD4;
}

.yellow13 {
  background-color: #F29D40;
}

.yellow14 {
  background-color: #F2AF71;
}

.yellow15 {
  background-color: #F5B86A;
}

.yellow16 {
  background-color: #EFCA88;
}

.yellow17 {
  background-color: #ECCFA2;
}

.yellow18 {
  background-color: #EBE0CB;
}

.green1 {
  background-color: #175F54;
}

.green2 {
  background-color: #1E836A;
}

.green3 {
  background-color: #73A690;
}

.green4 {
  background-color: #A6C1A2;
}

.green5 {
  background-color: #BCD4C1;
}

.green6 {
  background-color: #D9E6D4;
}

.green7 {
  background-color: #0E8A61;
}

.green8 {
  background-color: #39945F;
}

.green9 {
  background-color: #7EBC9D;
}

.green10 {
  background-color: #89b864;
}

.green11 {
  background-color: #C7DFA7;
}

.green12 {
  background-color: #CDDB9B;
}

.green13 {
  background-color: #416456;
}

.green14 {
  background-color: #4F6F3F;
}

.green15 {
  background-color: #919C22;
}

.green16 {
  background-color: #90B180;
}

.green17 {
  background-color: #CACD88;
}

.green18 {
  background-color: #E2DDBF;
}

.green19 {
  background-color: #007C70;
}

.green20 {
  background-color: #2E9D83;
}

.green21 {
  background-color: #67BAAA;
}

.green22 {
  background-color: #A8D5C3;
}

.green23 {
  background-color: #B5D9D3;
}

.green24 {
  background-color: #CFE0D8;
}

.green25 {
  background-color: #3C925E;
}

.green26 {
  background-color: #65B24D;
}

.green27 {
  background-color: #84CB69;
}

.green28 {
  background-color: #A4CF67;
}

.green29 {
  background-color: #C2D953;
}

.green30 {
  background-color: #C6D57E;
}

.green31 {
  background-color: #4D7D39;
}

.green32 {
  background-color: #6AA148;
}

.green33 {
  background-color: #9ABD30;
}

.green34 {
  background-color: #D5DB5C;
}

.green35 {
  background-color: #E0E292;
}

.green36 {
  background-color: #E7E7C2;
}

.yge1 {
  background-color: #c7ced0;
}

.yge2 {
  background-color: #afc0bc;
}

.yge3 {
  background-color: #b0bcaf;
}

.yge4 {
  background-color: #8ca49a;
}

.yge5 {
  background-color: #7fa395;
}

.yge6 {
  background-color: #4e736a;
}

.yge7 {
  background-color: #e9daa3;
}

.yge8 {
  background-color: #ddce89;
}

.yge9 {
  background-color: #a9a84d;
}

.yge10 {
  background-color: #9f9600;
}

.yge11 {
  background-color: #b28c2b;
}

.yge12 {
  background-color: #a97833;
}

.yge13 {
  background-color: #e0d0ba;
}

.yge14 {
  background-color: #d7cfaf;
}

.yge15 {
  background-color: #d1c59d;
}

.yge16 {
  background-color: #b19e76;
}

.yge17 {
  background-color: #837049;
}

.yge18 {
  background-color: #3e4e32;
}

.bge1 {
  background-color: #c9dfde;
}

.bge2 {
  background-color: #aed0d2;
}

.bge3 {
  background-color: #91bcbc;
}

.bge4 {
  background-color: #74a9a5;
}

.bge5 {
  background-color: #457c7f;
}

.bge6 {
  background-color: #004f58;
}

.bge7 {
  background-color: #9fc5bc;
}

.bge8 {
  background-color: #9cc5b8;
}

.bge9 {
  background-color: #88c1b1;
}

.bge10 {
  background-color: #519ea8;
}

.bge11 {
  background-color: #207878;
}

.bge12 {
  background-color: #005251;
}

.bge13 {
  background-color: #dbdac3;
}

.bge14 {
  background-color: #bdc4a7;
}

.bge15 {
  background-color: #acb090;
}

.bge16 {
  background-color: #90a390;
}

.bge17 {
  background-color: #596354;
}

.bge18 {
  background-color: #37676d;
}

.bg1 {
  background-color: #00566e;
}

.bg2 {
  background-color: #0075af;
}

.bg3 {
  background-color: #42a3d4;
}

.bg4 {
  background-color: #9fccde;
}

.bg5 {
  background-color: #b2d3e3;
}

.bg6 {
  background-color: #d3e3e7;
}

.bg7 {
  background-color: #0081a6;
}

.bg8 {
  background-color: #008ca9;
}

.bg9 {
  background-color: #21b2d3;
}

.bg10 {
  background-color: #8bd5e3;
}

.bg11 {
  background-color: #b6dfe7;
}

.bg12 {
  background-color: #c7dce6;
}

.bg13 {
  background-color: #007c8a;
}

.bg14 {
  background-color: #008d98;
}

.bg15 {
  background-color: #36a8b8;
}

.bg16 {
  background-color: #81ccd3;
}

.bg17 {
  background-color: #b2d9d4;
}

.bg18 {
  background-color: #c7ded6;
}

.ob1 {
  background-color: #a9dac1;
}

.ob2 {
  background-color: #87c7b3;
}

.ob3 {
  background-color: #90b4ba;
}

.ob4 {
  background-color: #64a2ac;
}

.ob5 {
  background-color: #3e8499;
}

.ob6 {
  background-color: #346a81;
}

.ob7 {
  background-color: #46cdc9;
}

.ob8 {
  background-color: #82A7BE;
}

.ob9 {
  background-color: #65ADC5;
}

.ob10 {
  background-color: #619DC0;
}

.ob11 {
  background-color: #0086ba;
}

.ob12 {
  background-color: #00658c;
}

.bv1 {
  background-color: #dbe2e8;
}

.bv2 {
  background-color: #cfdae8;
}

.bv3 {
  background-color: #c3cae1;
}

.bv4 {
  background-color: #8faada;
}

.bv5 {
  background-color: #6771af;
}

.bv6 {
  background-color: #384b7e;
}

.bv7 {
  background-color: #deebef;
}

.bv8 {
  background-color: #c2d8e6;
}

.bv9 {
  background-color: #b6daf0;
}

.bv10 {
  background-color: #85b8e6;
}

.bv11 {
  background-color: #5a9ae2;
}

.bv12 {
  background-color: #007ddf;
}

.bv13 {
  background-color: #cbdee4;
}

.bv14 {
  background-color: #bbd7e3;
}

.bv15 {
  background-color: #7d9bb9;
}

.bv16 {
  background-color: #6b89b0;
}

.bv17 {
  background-color: #106797;
}

.bv18 {
  background-color: #004b79;
}

.grey1 {
  background-color: #4f5c68;
}

.grey2 {
  background-color: #789397;
}

.grey3 {
  background-color: #97b2b0;
}

.grey4 {
  background-color: #aebfbb;
}

.grey5 {
  background-color: #b1c6c5;
}

.grey6 {
  background-color: #cdcfca;
}

.grey7 {
  background-color: #4a597e;
}

.grey8 {
  background-color: #889eb6;
}

.grey9 {
  background-color: #a4bdce;
}

.grey10 {
  background-color: #b1c4d0;
}

.grey11 {
  background-color: #c2d2d8;
}

.grey12 {
  background-color: #d4dcdc;
}

.grey13 {
  background-color: #282624;
}

.grey14 {
  background-color: #41555c;
}

.grey15 {
  background-color: #8ea2aa;
}

.grey16 {
  background-color: #b2bcc1;
}

.grey17 {
  background-color: #cad0d3;
}

.grey18 {
  background-color: #d6dbdd;
}

.grey19 {
  background-color: #87633c;
}

.grey20 {
  background-color: #a4764b;
}

.grey21 {
  background-color: #bb9a70;
}

.grey22 {
  background-color: #c8b595;
}

.grey23 {
  background-color: #cfbfaa;
}

.grey24 {
  background-color: #ddd4c2;
}

.grey25 {
  background-color: #d7d4c7;
}

.grey26 {
  background-color: #e4e4dc;
}

.grey27 {
  background-color: #e3e0d3;
}

.grey28 {
  background-color: #f0f0f0;
}

.grey29 {
  background-color: #d0d4cb;
}

.grey30 {
  background-color: #c5d2cf;
}

.grey31 {
  background-color: #b1cacc;
}

.grey32 {
  background-color: #8db7be;
}

.grey33 {
  background-color: #81a8b7;
}

.grey34 {
  background-color: #547c90;
}

.grey35 {
  background-color: #425b6b;
}

.grey36 {
  background-color: #1e2428;
}

.add1 {
  background-color: #cddfe9;
}

.add2 {
  background-color: #bfdae2;
}

.add3 {
  background-color: #cadede;
}

.add4 {
  background-color: #c8cbdb;
}

.add5 {
  background-color: #d3ccd2;
}

.add6 {
  background-color: #c2adb8;
}

.add7 {
  background-color: #eae5d6;
}

.add8 {
  background-color: #ecdfbd;
}

.add9 {
  background-color: #eec842;
}

.add10 {
  background-color: #e6de84;
}

.add11 {
  background-color: #ffe44c;
}

.add12 {
  background-color: #ffd700;
}

.add13 {
  background-color: #ff9707;
}

.add14 {
  background-color: #fe4d30;
}

.add15 {
  background-color: #dd2431;
}

.add16 {
  background-color: #f6663a;
}

.add17 {
  background-color: #e8735f;
}

.add18 {
  background-color: #d47774;
}

.add19 {
  background-color: #e0dbd8;
}

.add20 {
  background-color: #cfc8c5;
}

.add21 {
  background-color: #cec0bd;
}

.add22 {
  background-color: #bba39f;
}

.add23 {
  background-color: #8e7573;
}

.add24 {
  background-color: #594544;
}

.add25 {
  background-color: #d2d1ce;
}

.add26 {
  background-color: #c3c3c5;
}

.add27 {
  background-color: #a28e8e;
}

.add28 {
  background-color: #7d5f6d;
}

.add29 {
  background-color: #4c4b6d;
}

.add30 {
  background-color: #2e4a80;
}

.add31 {
  background-color: #d2d7e0;
}

.add32 {
  background-color: #d1d6df;
}

.add33 {
  background-color: #bfc5d2;
}

.add34 {
  background-color: #a2a4bb;
}

.add35 {
  background-color: #867796;
}

.add36 {
  background-color: #544465;
}

.add37 {
  background-color: #454842;
}

.add38 {
  background-color: #54504b;
}

.add39 {
  background-color: #8d8783;
}

.add40 {
  background-color: #b5aea9;
}

.add41 {
  background-color: #cfcdc9;
}

.add42 {
  background-color: #e0e0de;
}

.add43 {
  background-color: #1d4a47;
}

.add44 {
  background-color: #4d6a66;
}

.add45 {
  background-color: #809892;
}

.add46 {
  background-color: #aab9b1;
}

.add47 {
  background-color: #c8d2cb;
}

.add48 {
  background-color: #d6dede;
}

.add49 {
  background-color: #1a384b;
}

.add50 {
  background-color: #214a6c;
}

.add51 {
  background-color: #3e7895;
}

.add52 {
  background-color: #79a7c1;
}

.add53 {
  background-color: #b5cdd8;
}

.add54 {
  background-color: #d3e1e9;
}

.add55 {
  background-color: #bb8a97;
}

.add56 {
  background-color: #a18ca3;
}

.add57 {
  background-color: #827791;
}

.add58 {
  background-color: #706687;
}

.add59 {
  background-color: #b1a8c3;
}

.add60 {
  background-color: #868eb1;
}

.add61 {
  background-color: #87a1cd;
}

.add62 {
  background-color: #66a8db;
}

.portrait1 {
  background-color: #e4b9a4;
}

.portrait2 {
  background-color: #f0c19d;
}

.portrait3 {
  background-color: #edb19f;
}

.portrait4 {
  background-color: #f5c39c;
}

.portrait5 {
  background-color: #e8cbc1;
}

.portrait6 {
  background-color: #c25161;
}

.portrait7 {
  background-color: #da4554;
}

.portrait8 {
  background-color: #7f2f37;
}

.portrait9 {
  background-color: #8d435f;
}

.portrait10 {
  background-color: #c1a1b5;
}

.portrait11 {
  background-color: #D3C2CA;
}

.portrait12 {
  background-color: #dfb7ad;
}

.light1 {
  background-color: #f0f0f0;
}

.light2 {
  background-color: #ede8d9;
}

.light3 {
  background-color: #e2dfc9;
}

.light4 {
  background-color: #e5ddd0;
}

.light5 {
  background-color: #e4d3c8;
}

.light6 {
  background-color: #e6d3d3;
}

.light7 {
  background-color: #e6d8d9;
}

.light8 {
  background-color: #dcd4d6;
}

.light9 {
  background-color: #dad5d6;
}

.light10 {
  background-color: #dbdadf;
}

.light11 {
  background-color: #d9d7e1;
}

.light12 {
  background-color: #d9e0e6;
}

.light13 {
  background-color: #d2d7e1;
}

.light14 {
  background-color: #d3dee8;
}

.light15 {
  background-color: #c0d4d7;
}

.light16 {
  background-color: #d8e4e8;
}

.light17 {
  background-color: #cddbdc;
}

.light18 {
  background-color: #cedcdb;
}

.dark1 {
  background-color: #6a2b27;
}

.dark2 {
  background-color: #552c32;
}

.dark3 {
  background-color: #4b312d;
}

.dark4 {
  background-color: #54372d;
}

.dark5 {
  background-color: #353430;
}

.dark6 {
  background-color: #4a533a;
}

.dark7 {
  background-color: #1e4542;
}

.dark8 {
  background-color: #0e4742;
}

.dark9 {
  background-color: #225c4b;
}

.dark10 {
  background-color: #347059;
}

.dark11 {
  background-color: #3d6637;
}

.dark12 {
  background-color: #4f6134;
}

.dark13 {
  background-color: #31538b;
}

.dark14 {
  background-color: #4d5370;
}

.dark15 {
  background-color: #24474d;
}

.dark16 {
  background-color: #304552;
}

.dark17 {
  background-color: #2d4762;
}

.dark18 {
  background-color: #14344e;
}

.dark19 {
  background-color: #3c2a41;
}

.dark20 {
  background-color: #412e3c;
}

.dark21 {
  background-color: #2a2a2c;
}

.dark22 {
  background-color: #131d2b;
}

.dark23 {
  background-color: #001d2f;
}

.dark24 {
  background-color: #001c37;
}

.cb1 {
  background-color: #1b1c26;
}

.cb2 {
  background-color: #1e1e2b;
}
